* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}

body {
  margin-right: 16px;
  margin-left: 16px;
  background-color: #f4f4f4;
}

.header__grey {
  display: inline-block;
  width: 100%;
  height: 70px;
}

/* Basic styling for navbar */
.navbar {
  padding-top: 20px;
}

/* Logo styling */
.logo {
  height: 26px;
  float: left;
}

/* Icons container styling */
.icons {
  float: right;
}

/* Styling individual icons */
.icon {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}


.search{
    width: 100%;
    background: transparent;
    text-align: center;

}

.search-container {
    width: 100%;
    height: 30px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    border: 0.5px solid #DBDADA;
    box-shadow: 0px 4px 4px rgba(206, 206, 206, 0.25);
    position: relative;
}

.search-container img {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.searchbar {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  height: 100%;
  float: left;
  padding-left: 5px;
}

.imagemHero {
  width: 100%;
}

p {
  color: #565656;
  font-size: 16px;
  line-height: 1.3;
  text-align: justify;
  word-wrap: break-word
}

.descricaoEunice {
  margin: 20px 0;

}

.date-buttons {
  display: flex;
  gap: 10px;
}

.date-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.date-button:hover {
  background-color: #ddd;
}